<header id="header" class="main-header">
    <!-- Logo -->
    <a href="${basePath}/cms/admin/index" class="logo hidden-xs">
        <!-- 迷你模式下Logo的大小为50X50 -->
        <span class="logo-mini">内容管理</span>
        <!-- 普通模式下Logo -->
        <span class="logo-lg"><b>CMS</b></span>
    </a>
    <!-- 顶部通栏样式 -->
    <nav class="navbar navbar-static-top">
        <!-- 边栏切换按钮-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div id="nav" class="pull-left">
            <!--如果不想在顶部显示角标,则给ul加上disable-top-badge类即可-->
            <ul class="nav nav-tabs nav-addtabs disable-top-badge" role="tablist"></ul>
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav" style="margin-right: 20px">
                <li class="hidden-xs">
                    <a href="#" data-toggle="fullscreen"><i class="fa fa-arrows-alt"></i></a>
                </li>
                <li>
                    <a href="${basePath}/cms/admin/logout" title="退出"><i class="fa fa-power-off"></i>&nbsp;退出</a>
                </li>
            </ul>
        </div>
    </nav>
</header>




