<head>
    <meta charset="utf-8">
    <title>内容管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <link rel="shortcut icon" href="${basePath}/assets/img/favicon.ico"/>
    <!-- Loading Bootstrap -->
    <link href="${basePath}/assets/css/backend.css" rel="stylesheet">
    <link href="${basePath}/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="${basePath}/assets/plugins//fileinput/css/fileinput.min.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="${basePath}/assets/js/html5shiv.js"></script>
    <script src="${basePath}/assets/js/respond.min.js"></script>
    <![endif]-->

</head>

<#include "search-text.html"/>
<#include "add-form.html"/>
<#include "edit-form.html"/>