<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>西马庄纸箱厂</title>
    <link href="css/style_s.css" rel="stylesheet" type="text/css"/>
    <link href="js/chromestyle.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="js/mfcsmoothmenu.css"/>
    <script src="js/chrome.js" type=text/javascript></script>
    <script src="js/zoom.js" type=text/javascript></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/mfcsmoothmenu.js"></script>
</head>


<body>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28321023-1']);
    _gaq.push(['_trackPageview']);


</script>

<script type="text/javascript">

    function MM_preloadImages() { //v3.0

        var d = document;
        if (d.images) {
            if (!d.MM_p) d.MM_p = new Array();

            var i, j = d.MM_p.length, a = MM_preloadImages.arguments;
            for (i = 0; i < a.length; i++)

                if (a[i].indexOf("#") != 0) {
                    d.MM_p[j] = new Image;
                    d.MM_p[j++].src = a[i];
                }
        }

    }

    function MM_swapImgRestore() { //v3.0

        var i, x, a = document.MM_sr;
        for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;

    }

    function MM_findObj(n, d) { //v4.01

        var p, i, x;
        if (!d) d = document;
        if ((p = n.indexOf("?")) > 0 && parent.frames.length) {

            d = parent.frames[n.substring(p + 1)].document;
            n = n.substring(0, p);
        }

        if (!(x = d[n]) && d.all) x = d.all[n];
        for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];

        for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);

        if (!x && d.getElementById) x = d.getElementById(n);
        return x;

    }


    function MM_swapImage() { //v3.0

        var i, j = 0, x, a = MM_swapImage.arguments;
        document.MM_sr = new Array;
        for (i = 0; i < (a.length - 2); i += 3)

            if ((x = MM_findObj(a[i])) != null) {
                document.MM_sr[j++] = x;
                if (!x.oSrc) x.oSrc = x.src;
                x.src = a[i + 2];
            }

    }

    //-->

</script>


<body onLoad="MM_preloadImages('img/mune/home_o.gif','img/mune/about_o.gif','img/mune/care_o.gif','img/mune/product_o.gif'/*tpa=http://www.cethl.com/s/img/mune/product_o.gif*/,'img/mune/cope_o.gif'/*tpa=http://www.cethl.com/s/img/mune/cope_o.gif*/,'img/mune/careers_o.gif'/*tpa=http://www.cethl.com/s/img/mune/careers_o.gif*/,'img/mune/contact_o.gif'/*tpa=http://www.cethl.com/s/img/mune/contact_o.gif*/)">
<table width="941" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="564">
            <a href="#" >
                <img src="img/logo.png" width="555" height="84" border="0"/>
            </a>
        </td>

        <td width="377" align="right" valign="middle">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="50" align="right" valign="bottom">
                        <#--<span class="text">香港交易所股份代号：00646.hk</span>|-->
                       <#-- <a href="/" class="top_en">首 页</a>-->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="1" colspan="2"></td>
    </tr>
    <tr>
        <td height="24" colspan="2">
            <table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="913" align="right">
                        <div id="smoothmenu1" class="ddsmoothmenu">
                            <ul id="menu">
                                <li class="home">
                                    <a href="/" onMouseOut="MM_swapImgRestore()">
                                        <img src="img/mune/home.gif" name="Image6" width="91" height="38" border="0"
                                             id="Image6"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table width="941" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <table width="941" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td id="banner"><img src="img/index_banner.jpg" width="940" height="284"/></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table width="941" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr></tr>
    <tr>
        <td height="20" colspan="3"><img src="img/spaer.gif" width="1" height="20"/></td>
    </tr>
    <tr>
        <td width="463" valign="top">
            <table width="450" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="40" colspan="2">
                        <img src="img/index_about.jpg" width="450" height="30" border="0" usemap="#Map"/>
                    </td>
                </tr>
                <tr>
                    <td width="157" height="154" valign="top">
                        <img src="img/index02_21.gif" width="145" height="90" vspace="3"/>
                    </td>
                    <td width="293" valign="top" class="text">
                        <strong>禹涵（上海）环保科技有限公司</strong>是于2017年3月30日正式成立的科技型环保企业。该企业旨在发展新兴产业、推动环保产业转型调整，以“城市水资源与水环境国家重点实验室”和“污泥安全处置与资源化技术国家工程实验室”为技术依托，整合石油自动化、新材料、新能源技术，重点发展污水污泥处理、生态化建设、生态修复、石油装备、新材料、新能源等业务。
                    </td>
                </tr>
            </table>
        </td>
        <td width="27"><img src="img/spaer.gif" width="25" height="2"/></td>
        <td height="204" valign="top">
            <table width="450" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="45">
                        <img src="img/index_news.jpg" width="450" height="30" border="0" usemap="#Map3"/>
                    </td>
                </tr>

                <tr>
                    <td height="154" valign="top">
                        <table id="news" width="435" border="0" align="center" cellpadding="0" cellspacing="0">


                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td valign="top">
            <table width="442" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="40" colspan="2" valign="middle"><a href="#">
                        <img src="img/index_lx.jpg"  width="450"
                            height="30" border="0" usemap="#Map4"/></a>
                    </td>
                </tr>
                <tr>
                    <td width="199" height="154" align="center" valign="top">
                        <img src="img/index02_43.gif" width="173" height="136"/>
                    </td>

                    <td width="243" height="154" align="center" valign="top"><br/>
                        <table width="247" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="247" height="25" align="left" class="textaa">公司地址：香港湾仔港湾道6-8号瑞安中心10楼1003-5室
                                </td>
                            </tr>
                            <tr>
                                <td height="25" align="left" class="text">电话：<span class="textaa">(852) 2511 1870</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" align="left" class="text">传真：<span class="textaa">(852) 2511 1878</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="25" align="left" class="text">电邮：<a href="mailto:ceth_po@cethl.com" class="texts2">ceth_po@cethl.com</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>



<table width="941" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="30">&nbsp;</td>
    </tr>
</table>
<table width="941" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="1" bgcolor="#D5D5D7"></td>
    </tr>
    <tr>
        <td height="75" align="center" valign="top" >
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="32" align="center" id="footMenu">
                        <a href="#" class="lxtext_footer">首 页</a>
                    </td>
                </tr>
                <tr>
                    <td height="38" align="center">
                        <span class="textaa">©</span> 禹涵（上海）环保科技有限公司。版权所有 不得转载。<br>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<script type="text/javascript">
    <!--
    function MM_openBrWindow(theURL, winName, features) { //v2.0
        window.open(theURL, winName, features);
    }

    //-->
</script>

<map name="Map" id="Map">
    <area shape="rect" coords="406,5,446,25" href="#"/>
</map>

<map name="Map2" id="Map2">
    <area shape="rect" coords="405,6,446,25" href="#"/>
</map>

<map name="Map3" id="Map3">
    <area shape="rect" coords="405,7,447,26" href="#"/>
</map>

<map name="Map4" id="Map4">
    <area shape="rect" coords="407,8,444,24" href="#"/>
</map>
</body>
<script src="js/common.js"></script>
<script>


    /*新闻*/
    $.getJSON(BaseUrl + "/cms/article/listBySite",{pageSize:5,site:'news'},function(result){
        console.log(result);
        if (result.code === 200) {
            var html = '';
            for(var i=0;i<result.data.list.length ;i++){
                var article =  result.data.list[i];
                html +="   <tr>\n" +
                        "       <td width='14' align='center' class='textTable_ir' valign='top'>\n" +
                        "           <img src=\"img/index02_29.jpg\" width='4' height='7'/>\n" +
                        "       </td>\n" +
                        "       <td width='92' height='25' valign='top' class='textTable_ir'><span class='texts2_date'>"+dateFtt('yyyy年MM月dd日',article.addtime)+"</span></td>\n" +
                        "       <td width='329' class='textTable_ir'>\n" +
                        "           <a href='"+BaseUrl + "news.html?article="+article.id+"' target='_blank' class='lxtext'>"+article.title+"</a></td>\n" +
                        "   </tr>";
            }
            $("#news").html(html);
        } else {
            alert(result.message);
        }
    });
</script>

</html>

